@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;600&display=swap");

* {
  margin: 0;
  body: 0;
}
.background-box {
  /* border: 3px solid rgb(0, 255, 140); */
  display: flex;
  display: inline-flex;
}

.stocks {
  width: 700px;
  height: 923px;
  /* border: 3px solid purple; */
}

.bull {
  width: 100px;

  color: #fff;
  /* border: 3px solid orange; */
}

.logo {
  display: flex;
  position: absolute;
  bottom: 40rem;
  padding-left: 100px;
  background-color: rgba(133, 127, 127, 0.5);
  color: #fff;
  padding-right: 112px;
  /* border: 3px solid blue; */
}

.enterprise {
  font-family: "Cormorant SC", sans-serif;
  font-size: 40px;
  font-weight: 500;
  /* border: 3px solid green; */
}

.explanation {
  /* border: 3px solid red; */
  position: absolute;
  display: flex;
  /* justify-content: center; */
  display: inline-flex;
  margin-left: 0px;
  margin-top: ;
  height: 310px;
  width: 1180px;
  padding-left: 30px;
  background-color: #f5f5f5;
}

.call {
  /* border: 3px solid turquoise; */
  font-size: 30px;
  margin-top: 60px;
  width: 900px;
}

form {
  /* Center the form on the page */
  /* Form outline */
  /* padding: 1em; */
  /* border: 3px solid #ccc; */
  /* border-radius: 1em; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;

  font-family: "Cormorant SC", sans-serif;
}
form h1 {
  grid-column: span 2;
}

.signup-container {
  /* display: flex; */
  position: relative;
  margin-left: 750px;
  bottom: 600px;
  /* border: 3px solid orchid; */
  /* margin-top: 300px; */
  width: 900px;
}

.bottom-box {
  /* border: 3px solid black; */
  position: relative;
  width: 1187px;
  height: 290px;
  left: 709px;
  bottom: 550px;
  box-shadow: 0px -10px 10px -10px rgba(141, 137, 137, 0.99);
}

.create {
  background-color: #596d48;
  /* border: 3px solid purple; */
  color: white;
  margin-top: 30px;
  width: 170px;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 43px;
}

.account {
  margin-left: 43px;
  margin-top: 30px;
  font-size: 20px;
}

input[type="text"],
input {
  border-radius: 5px;
  width: 250px;
}
