@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;600&display=swap");

* {
  margin: 0;
}
.background-box {
  border: 3px solid rgb(0, 255, 140);
  display: flex;
  display: inline-flex;
}

.stocks {
  width: 700px;
  height: 923px;
  border: 3px solid purple;
}

.bull {
  width: 100px;

  color: #fff;
  border: 3px solid orange;
}

.logo {
  display: flex;
  position: absolute;
  bottom: 40rem;
  padding-left: 100px;
  background-color: rgba(133, 127, 127, 0.5);
  color: #fff;
  padding-right: 112px;
  border: 3px solid blue;
}

.enterprise {
  font-family: "Cormorant SC", sans-serif;
  font-size: 40px;
  font-weight: 500;
  border: 3px solid green;
}

.explanation {
  border: 3px solid red;
  position: absolute;
  display: flex;
  /* justify-content: center; */
  display: inline-flex;
  margin-left: ;
  margin-top: ;
  height: 275px;
  width: auto;
  background-color: #f5f5f5;
}

.call {
  border: 3px solid turquoise;
  font-size: 30px;
  margin-top: 60px;
}

form {
  /* Center the form on the page */
  width: auto;
  /* Form outline */
  /* padding: 1em; */
  border: 1px solid #ccc;
  /* border-radius: 1em; */
}

.signup-container {
  display: flex;
  border: 3px solid orchid;
  /* margin-top: 300px; */
  width: auto;
}

.signup-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}
